body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(59, 59, 59);
}

img {
  height: 100%;
  width: 100%;
}

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 100px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 1s;
  z-index: 99;
}

nav button {
  width: 40px;
  height: 40px;
  border: 0;
  background: transparent;
  position: absolute;
  top: 0;
  right: 20px;
  display: none;
  outline: none;
}

nav button .line {
  width: 100%;
  height: 3px;
  background: white;
  display: block;
  margin: 5px 0;
}

nav .drawer {
  display: none;
  transform: translateX(-100%);
  transition: transform 0.6s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

nav .drawer ul li {
  margin: 0 10px;
}

nav .back-drop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #00000066;
  z-index: 10;
}

nav.active {
  background: rgba(26, 100, 143);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

nav .logo {
  width: 50px;
  height: 50px;
}

nav ul {
  width: 300px;
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  width: 33%;
  height: inherit;
}

nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  position: relative;
}

nav li a:hover {
  background: rgba(255, 255, 255, 0.4);
  height: calc(100% - 2px);
  border-bottom: 2px solid rgb(255, 255, 255);
}

nav a.active {
  background: rgba(100, 172, 206, 0.4);
}

nav a.active:hover {
  height: 100%;
  background: rgba(100, 172, 206, 0.4);
  border: none;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, #4BB4CB, #101F63);
  color: white;
}

header h1 {
  font-size: 6em;
  margin: 0;
  border-bottom: 2px solid white;
}

header a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  margin: 10px auto 0;
  border-radius: 10px;
  border: none;
  background: rgb(83, 158, 40);
  color: white;
  font-size: 1.05em;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
  outline: none;
  text-decoration: none;
}

header a:hover {
  background: rgb(74, 138, 37);
}

section {
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.container {
  width: 60%;
}

.content {
  display: flex;
  margin: 40px 0;
  flex-flow: wrap;
}

article {
  width: 50%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

article h2 {
  font-size: 2em;
}

article p {
  font-size: 1.2em;
}

.image {
  width: 50%;
  height: 400px;
}

.opacity-img {
  opacity: 0;
  transition: opacity 1s;
}

.opacity-text {
  opacity: 0;
  transition: opacity 1.4s;
}

.opacity-none {
  opacity: 0;
  animation: opacityNone 1s .4s 1 ease-in-out forwards;
}

@keyframes opacityNone {
  from {
    transform: translateX(-20px);
  }

  to {
    transform: translateX(20px);
    opacity: 1;
  }
}

footer {
  width: 100%;
  min-height: 200px;
  padding: 30px;
  box-sizing: border-box;
  background: rgba(26, 100, 143);
  display: flex;
  justify-content: space-around;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  flex-flow: wrap;
  color: white;
}

footer p {
  width: calc(50% - 20px);
  margin-left: 20px;
  text-align: center;
}

footer div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer i {
  font-size: 1.4em;
}

footer i:hover {
  color: orangered;
}

.carousel {
  width: 100%;
  height: 400px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  position: relative;
}

.carousel .cont {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: 20px 60px;
  margin: 0;
  background: white;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 1s;
}

.carousel div.active {
  opacity: 1;
}

.carousel button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: absolute;
  top: calc(50% - 30px);
  z-index: 10;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0, 0, 0, .2);
  background: white;
  opacity: .8;
  outline: none;
  transition: transform .4s;
}

.carousel button:hover {
  opacity: 1;
  background: #d5e1f0;
}

.carousel button:active {
  transform: scale(.9, .9);
}

.carousel button:disabled {
  background: rgba(52, 55, 68, 0.5);
}

.left-button {
  left: -30px;
}

.right-button {
  right: -30px;
}

.carousel-status-bar {
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 10;
  display: flex;
}

.carousel-status-bar div {
  padding: .2em .52em;
  margin: 0 10px;
  border-radius: 100%;
  border: 2px solid rgba(26, 100, 143);
}

.carousel-status-bar div.active {
  transform: scale(1.5, 1.5);
  background: rgba(26, 100, 143);
  font-weight: bold;
  color: white;
}

.bg {
  width: 100%;
  height: 200px;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 800px) {

  .content {
    flex-flow: column
  }

  .image {
    width: 100%;
  }

  article {
    width: 100%;
    padding: 0;
  }

  article div.text {
    border: none;
    border-top: 3px solid sandybrown;
    transform: translateX(-20px);
    padding: 0;
  }

  .quests .image {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  div.quest {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 4px black;
  }

  div.description {
    height: 100%;
    background: none;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
  }

  .description p {
    display: none;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 4em;
  }
}

@media (max-width: 768px) {

  .left-button {
    left: -10px;
  }

  .right-button {
    right: -10px;
  }

  nav ul {
    display: none;
  }

  nav {
    justify-content: center;
  }

  nav button {
    display: block;
  }

  nav .drawer {
    display: block;
    width: 160px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #16263f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  nav .drawer ul {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  nav .drawer ul li {
    width: 100%;
    height: initial;
    margin: 10px 0;
  }
}

.quests {
  width: 100%;
  height: 80vh;
  box-sizing: border-box;
  padding: 20px 20px 0;
  display: flex;
  color: black;
  align-items: flex-end;
  position: relative;
}

.quest {
  width: 50%;
}

.description {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  padding: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.quests a {
  padding: 5px 10px;
  border-radius: 10px;
  background: rgb(83, 158, 40);
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
}

.quests a:hover {
  background: rgb(74, 138, 37);
}

.quests .quest .image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
}

.bg-1 {
  background: url(../assets/images/city.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.bg-2 {
  background: url(../assets/images/164572d4.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

.bg-3 {
  background: url(../assets/images/WallFon.com_9982.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.more__quests {
  height: 80vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.more__quests h2 {
  color: white;
  text-shadow: 1px 1px 4px black;
}

#more_page.active {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#more_page article {
  flex-flow: column;
  width: 100%;
  align-items: flex-start;
}

main {
  display: none;
}

main.active {
  display: block;
}

.back {
  padding: 5px 10px;
  background: rgb(92, 93, 92);
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
  position: fixed;
  top: 5px;
  left: 5px;
  text-decoration: none;
  opacity: .6;
}

.back:hover {
  opacity: 1;
}

form {
  max-width: 400px;
  margin: 0 0 60px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

form h3 {
  width: 100%;
  text-align: center;
}

form label {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: rgb(120, 120, 120);
  visibility: hidden;
}

form a {
  margin: 10px auto 0;
  padding: 10px 20px;
  border-radius: 2px;
  background: white;
  color: rgb(120, 120, 120);
  font-weight: bold;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
  text-decoration: none;
  transition: all .2s;
}

form a:hover {
  background: rgb(223, 223, 223);
}

form a:active {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .3);
}

form div {
  width: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
}

form div input {
  height: 30px;
  box-sizing: border-box;
  padding-left: 5px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
}

form div textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 400px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
  font-size: 14px;
  box-sizing: border-box;
  padding: 10px;
  margin-top: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-name {
  width: calc(50% - 10px);
}